@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Sans&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Hedvig Letters Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
}

h2 {
    font-size: 30px;
    text-align: center;
}

form {
    display: flex;
    justify-content: center;
}

.container {
    margin: 10px;
    /* display: flex; */
    /* justify-content: center; */
}

#searchBtn {
    background-color: aquamarine;
    border-radius: 5px;
    border: 1px solid;
    width: 60px;
    height: 30px;
    margin-left: 5px;
}

#inputBox {
    height: 27px;
    border-radius: 5px;
    border: 1px solid;
}